@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Architects+Daughter&family=Heebo:wght@200&family=Comfortaa:wght@300&display=swap');

.list-item-div {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	border-radius: 2px;
	box-shadow: 0px 2px 2px #818181;
	transition: all .3s ease-in-out;
	text-align: left;
	width: 100%;
	text-decoration: none;
}

.list-item-div:hover {
	transform: scale(1.1);
}

.project-title {
	color: black;
}

.project-description {
	padding-bottom: 15px;
	padding-top: 10px;
	padding-left: 10px;
	font-size: 17px;
	letter-spacing: 1.25px;
	font-family: 'Heebo', sans-serif;
	background-color: #f5f5f54d;
}

.fold-top-left {
	position: absolute;

	width: 0;
	height: 0;
	border-style: solid;
	border-width: 50px 50px 0 0;
	border-color: rgba(68, 117, 126, 0.377) transparent transparent transparent;
}
